<div class="scene-wrapper" [style.background-color]="unitService.unitData.backgroundColor">
  @if (interactionType() === "BUTTONS" && interactionData().sharedId) {
    <options-parameters [data]="interactionData()" (valueClicked)="valueChanged($event)"></options-parameters>
  }
  @if (interactionType() === "CLICK_LAYER") {
    <click-layer (hasClicked)="valueChanged($event)"></click-layer>
  }
  @if (cockpitData()) {
    <div class="cockpit-wrapper">
      <img [src]="cockpitData()" />
    </div>
  }
  @if (foregroundData().id) {
    <div class="foreground-wrapper">
      <lottie-scene
        [animationData]="foregroundData()">
      </lottie-scene>
    </div>
  }
  @for (animation of animationService.currentAnimationData(); track $index) {
    <div class="main-wrapper" [style.z-index]="(animation.id === 'bubble_transition_in' || animation.id === 'bubble_transition_out') ? 30 : 10">
      <lottie-scene
        [animationData]="animation"
        (loopFinished)="animationService.loopFinished($event)"
        (completed)="animationService.completed($event)">
      </lottie-scene>
    </div>
  }
  @if (backgroundData().id) {
    <div class="background-wrapper">
      <lottie-scene
        [animationData]="backgroundData()">
      </lottie-scene>
    </div>
  }
</div>
