<div class="scene-wrapper" [style.background-color]="unitService.unitData.backgroundColor">
  @if (interactionData().sharedId) {
    <options-parameters
      [data]="interactionData()"
      (optionClicked)="valueChanged($event)">
    </options-parameters>
  }
  @if (cockpitData()) {
    <div class="cockpit-wrapper">
      <img [src]="cockpitData()" />
    </div>
  }
  @if (foregroundData().id) {
    <div class="foreground-wrapper">
      <lottie-animation
        [animationData]="foregroundData()">
      </lottie-animation>
    </div>
  }
  @for (animation of animationService.currentAnimationData(); track animation.id + animation.slotId) {
    <div class="main-wrapper">
      <lottie-animation
        [animationData]="animation"
        (loopFinished)="animationService.loopFinished(animation.id)"
        (completed)="animationService.completed(animation.id)">
      </lottie-animation>
    </div>
  }
  @if (backgroundData().id) {
    <div class="background-wrapper">
      <lottie-animation
        [animationData]="backgroundData()">
      </lottie-animation>
    </div>
  }
</div>
