<div class="options-container">
  @for (opt of options(); track opt.value) {
    <div class="option">
      <input
        [type]="'radio'"
        [name]="data().sharedId"
        [id]="data().sharedId + '_' + opt.value"
        [value]="opt.value"
        (click)="onClick(opt.value)"
      />
      <label [for]="data().sharedId + '_' + opt.value">
        @if (opt.imageSrc) {
          @if (isAnimation(opt.imageSrc)) {
            <div class="animation-wrapper">
              <lottie-scene
                [autoplay]="true"
                [animationData]="getAnimationData(opt)">
              </lottie-scene>
            </div>
          } @else {
            <img [src]="opt.imageSrc" [alt]="opt.value">
          }
        } @else {
          <span>{{ opt.value }}</span>
        }
      </label>
    </div>
  }
</div>
