<div class="options-container">
  @for (opt of options(); track opt.value) {
    <div class="option">
      <input
        [type]="'radio'"
        [name]="data().sharedId"
        [id]="data().sharedId + '_' + opt.value"
        [value]="opt.value"
        (click)="onClick(opt.value)"
      />
      <label [for]="data().sharedId + '_' + opt.value">
        @if (opt.imageSrc) {
          <img [src]="opt.imageSrc" [alt]="opt.value">
        } @else {
          <span>{{ opt.value }}</span>
        }
      </label>
    </div>
  }
</div>
